<label style ="font-family:'Times New Roman', ; font-size: medium;"> Jukebox-dev </label>
<nav>
    <ul>
        <li><a href="/home">HOME</a></li>
        <li><a href="home/explore">EXPLORE</a></li>
    
    </ul>
    </nav>
    