<link href="navbar_css.css" rel="stylesheet">

<nav> 
    <h2>Jukebox-dev</h2>  
    <ul class="menuItem">
        <li><a href="/home" data-item="HOME">HOME</a></li>
        <li><a href="/explore" data-item="EXPLORE" >EXPLORE</a></li>
        <li><a href="/upload" data-item="UPLOAD">UPLOAD</a></li>
    </ul>
    </nav>
    