<%-  include('nav_partial') %> 
<h1>recently uploaded </h1>

 <audio controls>
    <source src="Coast.mp3" type="audio/mp3">
 </audio>
 <br>
 <audio controls>
   <source src="Horizon.mp3" type="audio/mp3">
 </audio>
