<link rel="stylesheet" href="https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,0000">
<link rel="stylesheets" href="index.css"></link>
<div class="main-heading">
        <div class="title">
           <lable>JUKEBOX-DEV</lable>
        </div>
 </div>
    <div class="container">
      <div class="child-cont">
        <img id="img1" src="share.png" alt="share" >
        <h2>SHARE</h2>
        <span>Share your NCS with everyone</span>     
      </div>
      <div class="child-cont">
        <img id="img2" src="Stream.png" alt="stream">
        <h2>STREAM</h2>
        <span>Listen to NCS uploaded by others</span>            
      </div>
      <div class="child-cont">
        <img id="img3" src="Download.png" alt="download">
        <h2>DOWNLOAD</h2>
        <span>Download all the NCS available </span>        
        </div>    
</div>
<div class="foot">
  <h5>Start by Creating Your Account</h5>
   <button type="submit" ><a href="/signup">Click Here</a></button>
 </div>

 <div class="foot">
  <h5>Login Into Your Account</h5>
   <button type="submit" ><a href="/signin">Click Here</a></button>
 </div>
