<link href="index.css" rel="stylesheet">
<h1>JUKEBOX-DEV</h1>
<h2>Web based platefrom to share and listen and download Non-Copyrighted Sounds</h2>
<h3>Signup or Signin</h>
<br>

<h3>create account</h3>
<button type="submit" ><a href="/signup">signup</a></button>
<br>

<h2>alerdy have an account</h2>
<h3>signin</h3>
<button type="submit" ><a href="/signin">signin</a></button>


 