<h1>JUKEBOX-DEV</h1>
<h2>listen wide range of NCMs</h2>
<h3>Signup or Signin</h3>
<br>
<br>
<br>
<br>
<h1>start listing </h1>
<h2>create account</h2>
<button type="submit"><a href="/signup">signup</a></button>
<br>
<br>
<h1>alerdy have an account</h1>
<h2>signin in your account</h2>
<button type="submit"><a href="/signin">signin</a></button>


