* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav{
	background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
 }

.nav-main{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  width: 800px;
  min-width: 500px;
  flex-grow: inherit;
 
}

.sunhead {
 display: flex;
 flex-direction: row;
 flex-shrink: inherit;
 flex-wrap: wrap;
 justify-content:center;
}
.sunhead h2{
  color: #000000;
  margin-left: auto;
  margin-top: 10px;
  font-size: 30px;
  max-width: 450px;
  max-height: 80px;
  text-align: center;

}

ul{
  display: flex;
	width: 100%;
	height: 40px;
	margin-left: 70px;
  margin-right: 2px;
	max-width: 1000px;	
  margin-top: 15px;
  justify-content: left;
}

li {

  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
	min-width: 80px;
	margin: 5px;
  border: black solid 2px;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

li:hover {
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #000000;
	font-weight: bold;
}

li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

a {
  text-decoration: none;
  color:#000000;
  
}

.outbtn{
  margin-top: 23px;
  margin-right: 31px;
}

.outbtn button{
  margin-left:10px;
  margin-right:0px;

  background-image: linear-gradient(92.88deg, #000000 9.16%, #3f3f3f 49.89%, #000000 64.72%);
  border-radius: 5px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 500;
  height: 2rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  touch-action: manipulation;
}

.outbtn button:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 30px;
  transition-duration: .1s;
}