.main{ 
    background-color: rgb(168, 168, 168);
    position:relative;
    margin-top: 10%;
    margin-left: auto;
    margin-right:auto;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    width: 450px;
    height: 300px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
   
}  

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.item  label{
    margin-bottom: 2px;
}

.item  input , .item  textarea{
    height: 2rem;
    border-radius: 5px;
    border: 2px solid rgb(32, 32, 32);
    background-color: rgb(255, 255, 255);
    font-family: "Gotham Rounded";
    font-weight: normal;
    font-size: 1rem;
    outline: none;
}

.form-btn{
    display: flex;
    justify-content: center;
    flex-grow: 5;
    flex-basis: 0;
}

.btn1{
    font-family: "Gotham Rounded";
    margin-left:0px;
    margin-right:10px;

    background-image: linear-gradient(92.88deg, #000000 9.16%, #3f3f3f 49.89%, #000000 64.72%);
    border-radius: 5px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 15px;
    font-weight: 500;
    height: 2rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    touch-action: manipulation;
}
.btn1:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 30px;
    transition-duration: .1s;
  }

.btn2 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.btn2 {
    margin-left:10px;
    margin-right:0px;

    background-image: linear-gradient(92.88deg, #000000 9.16%, #3f3f3f 49.89%, #000000 64.72%);
    border-radius: 5px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 15px;
    font-weight: 500;
    height: 2rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    touch-action: manipulation;
}

.btn2:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 30px;
    transition-duration: .1s;
  }