<form action="" method="post">
    <label>user name <input type="text" name="username"
         placeholder="Enter user name" 
         value="<%= uname.username %>"
         required>
    </label>
    <label>Email<input type="text" name="email"
     placeholder="Enter user name" 
     value="<%= uname.email %>"
     required>
</label>
<label>Password<input type="password" name="pass"
     placeholder="Enter user name" 
     value="<%= uname.pass %>"
     required>
</label>
    <br>
    
    <a href="/">cancel</a>
    <button type="submit">login</button>

    </form>
