<link href="signupcss.css" rel="stylesheet">

<h2 id="stylh1">signin here</h2>

<div class="main">
<form action="/signin" method="post">
    <div class="item">
    <label>Email</label>
         <input type="text" name="email" placeholder="Enter Your Email" value="" required>
     </div>
    <br>
    <div class="item">
    <label>Password</label>
     <input type="password" name="password" placeholder="Enter Password" value=""required>
     </div>
    <br>
    <div class="form-btn">
      <button class="btn1" type="submit">Login</button>
      <button class="btn2" role="button">
           <a href="/">Cancel</a>
      </button>
    </div>
   

</form>

</div>
